* {
    font-family: 'Ubuntu Mono', monospace;
}

.header {
    text-align: center;
    width: 100%;
    height: 20vh;
    background: rgb(241, 56, 56);
    font-family: 'Ubuntu Mono', monospace;
}

.header-ola{
    color: white;
    font-size: 2em;
    padding-top: 1em;    
}

.header-titulo{
    color: white;
    font-size: 2.5em;    
}

main {
    margin: 5vh 0px 10vh 0px;
}


.perfil {
    text-align: center;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil-foto{
    border-radius: 50%;
    width: 8em; 
    border: solid 3px black;  
}

.perfil-nome{
    font-size: 2em;
    font-weight: bold;
    padding-top: 0.2em;
    color: rgb(75, 75, 75);
}

.lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2em;
}

.lista-item{
    width: 20%;
    margin: 0.5em 2em 0.5em 2em;
    border: solid 2px black;
    box-shadow: 2px 5px #888888;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
}

.fa{
    margin-right: 0.5em;
    padding-bottom: 0.5em;
}

.footer{
    background: #888888;
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 10vh;
}

.footer-texto{  
    font-family: 'Ubuntu Mono', monospace;  
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(216, 212, 212);
}